<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Post</h3>
        </div>

        <div class="panel-body" data-hook="">
          <%= render 'form', post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to '<< Back', @post, class: "btn btn-primary" %>